<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>removeDeferredSleepOptionDate</key>
	<date>2017-01-23T02:09:11Z</date>
	<key>Current Sleep Session</key>
	<dict>
		<key>isSleepSessionInProgress</key>
		<false/>
		<key>inBed</key>
		<array/>
		<key>sleep</key>
		<array/>
		<key>wake</key>
		<array/>
		<key>outBed</key>
		<array/>
	</dict>
	<key>Previous Sleep Session</key>
	<dict>
		<key>isSleepSessionInProgress</key>
		<false/>
		<key>inBed</key>
		<array/>
		<key>sleep</key>
		<array/>
		<key>wake</key>
		<array/>
		<key>outBed</key>
		<array/>
	</dict>
</dict>
</plist>
