<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StartInBedDate</key>
	<date>2016-01-26T23:29:07Z</date>
	<key>StartSleepDate</key>
	<date>2016-01-26T23:28:24Z</date>
	<key>SleepInProgress</key>
	<false/>
</dict>
</plist>
